<aside class="sidebar">
<div class="logo">
  <img src="assets/images/logo.png">
</div>

<nav class="nav">
  <a routerLink="/dashboard" routerLinkActive="active" class="nav-item" *ngIf="canAccessRoute('/dashboard')">
    <i class="fas fa-chart-line"></i>
    <span>Dashboard</span>
  </a>

  <a routerLink="/services" routerLinkActive="active" class="nav-item" *ngIf="canAccessRoute('/services')">
    <i class="fas fa-calendar-check"></i>
    <span>Serviços</span>
  </a>

  <a routerLink="/patients" routerLinkActive="active" class="nav-item" *ngIf="canAccessRoute('/patients')">
    <i class="fas fa-users"></i>
    <span>Clientes</span>
  </a>

  <a routerLink="/calendar" routerLinkActive="active" class="nav-item" *ngIf="canAccessRoute('/calendar')">
    <i class="fas fa-calendar-alt"></i>
    <span>Calendário</span>
  </a>

  <a routerLink="/messages" routerLinkActive="active" class="nav-item" *ngIf="canAccessRoute('/messages')">
    <i class="fas fa-comments"></i>
    <span>Mensagens</span>
  </a>

  <!-- <a routerLink="/documents" routerLinkActive="active" class="nav-item" *ngIf="canAccessRoute('/documents')">
    <i class="fas fa-file-alt"></i>
    <span>Documentos</span>
  </a> -->

  <a routerLink="/employees" routerLinkActive="active" class="nav-item" *ngIf="canAccessRoute('/employees')">
    <i class="fas fa-user-md"></i>
    <span>Colaboradores</span>
  </a>

  <a routerLink="/feedbacks" routerLinkActive="active" class="nav-item" *ngIf="canAccessRoute('/feedbacks')">
    <i class="fas fa-star"></i>
    <span>Feedbacks</span>
  </a>
</nav>

<div class="sidebar-footer">
  <div class="user-info">
    <img [src]="userAvatar" alt="User Avatar" class="avatar">
    <div class="user-details">
      <span class="user-name">{{ currentUser?.nome }}</span>
      <span class="user-role">{{ userRole }}</span>
    </div>
  </div>
  <button class="logout-btn" (click)="logout()">
    <i class="fas fa-sign-out-alt"></i>
    <span>Sair</span>
  </button>
</div>
</aside>
